# Cadenas

In [4]:
a = "hola"
a = 'HOLA'
a = "Armando's Pizza"
a

"Armando's Pizza"

In [15]:
a = "150"  # tipo str
b = "150.8"  # str
c = "cien"
a = int(a)  # tipo int
print(a, type(a))
b = float(b)  # str -> float
print(b, type(b))
# c = int(c)
b = int(b)  # float -> int
print(b, type(b))
print(int(float("150.8")))

150 <class 'int'>
150.8 <class 'float'>
150 <class 'int'>
150

## RETO:
Tomar el valor 150.8 como entero y convertirlo a cadena.

In [16]:
decimal = 150.8
entero = int(decimal)
cadena = str(entero)
print(cadena, type(cadena))

150 <class 'str'>

In [18]:
import math

math.sqrt?

Signature: math.sqrt(x, /)
Docstring: Return the square root of x.
Type:      builtin_function_or_method

## Lectura de datos desde el usuario y formateo de cadenas

In [20]:
nombre = input("Dame tu nombre:")
nombre

Dame tu nombre: rctorr

'rctorr'

In [22]:
edad = input("Dame tu edad:")
edad = int(edad)
print(edad, type(edad))

Dame tu edad: 48

48 <class 'int'>

In [25]:
print("-"*20)
print("|" + nombre + "|" + str(edad) + "|")
print("-"*20)

--------------------
|rctorr|48|
--------------------

In [30]:
print("-"*37)
print("| {:^20} | {:10} |".format(nombre, edad))
print("-"*37)

-------------------------------------
|        rctorr        |         48 |
-------------------------------------

Para más info sobre formato de cadenas:

https://pyformat.info

RETO: Imprimir la sigue tabla tal cual respentando el formato.

   ´´´
   -------------------------------------------------------
   ORIGEN               | DESTINO             | TIEMPO    
   -------------------------------------------------------
   Roma Norte             Tabacalera             15:00
   Reforma                Juárez                  8:00
   -------------------------------------------------------
   ´´´

In [34]:
print("-"*40)
print("| {:12}|{:12}|{:12}|".format("ORIGEN","DESTINO","TIEMPO"))
print("-"*40)
print("| {:12}|{:12}|{:>12}|".format("ROMA NORTE","TABACALERA","15:00"))
print("-"*40)
print("| {:12}|{:12}|{:>12}|".format("ROMA NORTE","TABACALERA","8:00"))
print("-"*40)

----------------------------------------
| ORIGEN      |DESTINO     |TIEMPO      |
----------------------------------------
| ROMA NORTE  |TABACALERA  |       15:00|
----------------------------------------
| ROMA NORTE  |TABACALERA  |        8:00|
----------------------------------------

In [35]:
titulo1 = "ORIGEN"

titulo2 = "DESTINO"

titulo3 = "TIEMPO"


origen1 = "Roma Norte"

origen2 = "Reforma"


destino1 = "Tabacalera"

destino2 = "Juarez"


tiempo1 = "15:00"

tiempo2 = "8:00"



print("-"*70)

print("| {:^20} | {:^20} | {:^20} |".format(titulo1,titulo2,titulo3))

print("| {:^20} | {:^20} | {:>20} |".format(origen1,destino1,tiempo1))

print("| {:^20} | {:^20} | {:>20} |".format(origen1,destino1,tiempo1))

print("-"*70)

----------------------------------------------------------------------
|        ORIGEN        |       DESTINO        |        TIEMPO        |
|      Roma Norte      |      Tabacalera      |                15:00 |
|      Roma Norte      |      Tabacalera      |                15:00 |
----------------------------------------------------------------------

## Operadores Lógicos

In [36]:
True and True

True

In [37]:
True and False

False

In [38]:
False and False

False

In [39]:
False or True

True

In [41]:
not False

True

In [43]:
True ^ True  # xor

False

In [44]:
True ^ False

True

## RETO: Imprimir la tabla de verdad del operador XOR

In [50]:
print ("-"*32)
print ("{:10} | {:10} |A xor B".format("A", "B"))
print ("-"*32)
print ("{:10} {:13} False".format ("True", " True"))
print ("{:10} {:13} True".format ("True", " False"))
print ("{:10} {:13} False".format ("False", " False"))
print ("{:10} {:13} True".format ("False", " True"))
print ("-"*32)

--------------------------------
A          | B          |A xor B
--------------------------------
True        True         False
True        False        True
False       False        False
False       True         True
--------------------------------

In [51]:
titulo1 = "A"

titulo2 = "B"

titulo3 = "XOR"

print("-"*31)

print("| {:^7} | {:^7} | {:^7} |".format(titulo1,titulo2,titulo3))

print("| {:^7} | {:^7} | {:^7} |".format(False,False,False))

print("| {:^7} | {:^7} | {:^7} |".format(False,True,True))

print("| {:^7} | {:^7} | {:^7} |".format(True,False,True))

print("| {:^7} | {:^7} | {:^7} |".format(True,True,True))

print("-"*31)

-------------------------------
|    A    |    B    |   XOR   |
|    0    |    0    |    0    |
|    0    |    1    |    1    |
|    1    |    0    |    1    |
|    1    |    1    |    1    |
-------------------------------

In [53]:
print("-"*54)
print("|{:20}|{:15}|{:15}|".format("A", "B", "A^B"))
print("-"*54)
print("|{:20}|{:15}|{:>15}|".format(True, True, True^True))
print("-"*54)
print("|{:20}|{:15}|{:>15}|".format(True, False, True^False))
print("-"*54)
print("|{:20}|{:15}|{:>15}|".format(False, True, False^True))
print("-"*54)
print("|{:20}|{:15}|{:>15}|".format(False, False, False^False))
print("-"*54)

------------------------------------------------------
|A                   |B              |A^B            |
------------------------------------------------------
|                   1|              1|              0|
------------------------------------------------------
|                   1|              0|              1|
------------------------------------------------------
|                   0|              1|              1|
------------------------------------------------------
|                   0|              0|              0|
------------------------------------------------------

## Generando un número aleatorio con Python

In [46]:
import random

random.randint?

Signature: random.randint(a, b)
Docstring:
Return random integer in range [a, b], including both end points.

File:      ~/miniconda3/lib/python3.7/random.py
Type:      method

In [47]:
random.randint(1, 12)

4