# Diccionarios

In [2]:
d = {}
type(d)

dict

In [3]:
d = dict()
type(d)

dict

In [7]:
d = {
    "name":"Ricardo",
    "lastname":"Torres",
    "apodos":["rctorr", "rictor"],
    "edad": 48,
    "estatura": 1.73,
    "duerme": True,
    1: "licuado",
    2: "fruta",
    1.5: "té"
}
d

{'name': 'Ricardo',
 'lastname': 'Torres',
 'apodos': ['rctorr', 'rictor'],
 'edad': 48,
 'estatura': 1.73,
 'duerme': True,
 1: 'licuado',
 2: 'fruta',
 1.5: 'té'}

In [11]:
d["duerme"]

True

In [16]:
d["duerme"] = False
d

{'name': 'Ricardo',
 'lastname': 'Torres',
 'apodos': ['rctorr', 'rictor'],
 'edad': 48,
 'estatura': 1.73,
 'duerme': False,
 1: 'licuado',
 2: 'fruta',
 1.5: 'té'}

In [17]:
d[3]="enfrijoladas"
d

{'name': 'Ricardo',
 'lastname': 'Torres',
 'apodos': ['rctorr', 'rictor'],
 'edad': 48,
 'estatura': 1.73,
 'duerme': False,
 1: 'licuado',
 2: 'fruta',
 1.5: 'té',
 3: 'enfrijoladas'}

In [19]:
for i in d:
    print(i, d[i])

name Ricardo
lastname Torres
apodos ['rctorr', 'rictor']
edad 48
estatura 1.73
duerme False
1 licuado
2 fruta
1.5 té
3 enfrijoladas

In [21]:
for elem in d.items():
    print(elem, elem[0], elem[1])

('name', 'Ricardo') name Ricardo
('lastname', 'Torres') lastname Torres
('apodos', ['rctorr', 'rictor']) apodos ['rctorr', 'rictor']
('edad', 48) edad 48
('estatura', 1.73) estatura 1.73
('duerme', False) duerme False
(1, 'licuado') 1 licuado
(2, 'fruta') 2 fruta
(1.5, 'té') 1.5 té
(3, 'enfrijoladas') 3 enfrijoladas